@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
:root{
    --c:hsl(0, 0%, 7%);
    --cc:hsl(47, 88%, 63%);
}
body{
    background-color:var(--cc);
    width: 100vw;
    height: 100vh;
}
.card{
    background-color: white;
    margin: auto;
    margin-top: calc(50vh - 10rem);
    width: calc(24rem - 20px);
    height: 33rem;
    border:1px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 0 black;
    font-family: 'Figtree',sans-serif;
    font-weight: 500;
    padding-left: 20px;
    font-size: 16px;
}
.image{
    border-radius: 10px;
    width: 346px;
    height: 200px;
    margin: 20px;
    margin-left: 0;
    background-image: url(assets/images/illustration-article.svg);
}
.button{
    background-color: var(--cc);
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: var(--c);
    font-size: 14px;
}
.date{
    color: var(--c);
    margin:1rem 0px;
}
h1{
    font-size: 24px;
    color: var(--c);
    font-weight: 800;
}
h1:hover{
    color: var(--cc);
    cursor: pointer;
}
.description{
    color: hsl(0, 0%, 42%);
    line-height: 1.5em;
    margin: 1rem 0;
}
.picture{
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 1rem;
}
.name{
    font-size: 14px;
    font-weight: 800;
    color: var(--c);
    padding-top: 8px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
@media (max-width:425px) {
    .card{
        margin-top: calc(50vh - 15rem);
        width: calc(21rem - 20px);
        font-size: 15px;
    }
    .image{
        width: 295px;
        height: 200px;
        background-position: 50% 50%;
    }
    h1{
        font-size: 22px;
    }
}